<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <!-- 🔹 Perspective -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="OllamAssist"
            icon="icons/images.png"
            class="com.ollamassist.plugin.ui.OllamPerspective"
            id="com.ollamassist.plugin.ui.OllamPerspective"/>
   </extension>

   <!-- 🔹 Chat View -->
   <extension point="org.eclipse.ui.views">
      <view
            name="OllamAssist"
            icon="icons/images.png"
            class="com.ollamassist.plugin.ui.ChatView"
            id="com.ollamassist.plugin.ui.ChatView"/>
   </extension>

   <!-- 🔹 Editor with Autocomplete -->
   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.ollamassist.plugin.autocomplete.OllamaEditor"
            name="Ollama Editor"
            icon="icons/images.png"
            class="com.ollamassist.plugin.autocomplete.OllamaEditor"
            extensions="java,txt"/>
   </extension>

   <!-- 🔹 Place Chat View on Left -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.ollamassist.plugin.ui.OllamPerspective">
         <view
            id="com.ollamassist.plugin.ui.ChatView"
            icon="icons/images.png"
            relative="org.eclipse.ui.editors"
            relationship="left"
            visible="true"
            ratio="0.25"/>
      </perspectiveExtension>
   </extension>

   <!-- 🔹 First-Time Setup Wizard -->
   <extension point="org.eclipse.ui.startup">
      <startup class="com.ollamassist.plugin.setup.SetupWizardLauncher"/>
   </extension>

   <!-- 🔹 Preferences Page -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="com.ollamassist.plugin.preferences"
            name="OllamAssist"
            icon="icons/images.png"
            class="com.ollamassist.plugin.preferences.OllamAssistPreferencePage"/>
   </extension>

   <!-- 🔹 Setup Wizard Command -->
   <extension point="org.eclipse.ui.commands">
      <command
            id="com.ollamassist.plugin.setup.command"
            icon="icons/images.png"
            name="Run OllamAssist Setup Wizard"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="com.ollamassist.plugin.setup.command"
            icon="icons/images.png"
            class="com.ollamassist.plugin.setup.SetupWizardHandler"/>
   </extension>

   <!-- 🔹 Menu Item in Help -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:help">
         <command
               commandId="com.ollamassist.plugin.setup.command"
               label="OllamAssist Setup Wizard"
               icon="icons/images.png"
               style="push"/>
      </menuContribution>
   </extension>

</plugin>
