<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <!-- 🔹 Perspective -->
  <extension point="org.eclipse.ui.perspectives">
    <perspective
      name="LocalLlama"
      icon="icons/editor.png"
      class="com.localllama.plugin.ui.LocalLlamaPerspective"
      id="com.localllama.plugin.ui.LocalLlamaPerspective"/>
  </extension>

  <!-- 🔹 LocalLlama View -->
  <extension point="org.eclipse.ui.views">
    <view
      name="LocalLlama"
      icon="icons/chat.png"
      class="com.localllama.plugin.view.LocalLlamaView"
      id="com.localllama.plugin.view.LocalLlamaView"/>
  </extension>

  <!-- 🔹 Editor with Autocomplete -->
  <extension point="org.eclipse.ui.editors">
    <editor
      id="com.localllama.plugin.autocomplete.LocalLlamaEditor"
      name="LocalLlama Editor"
      icon="icons/editor.png"
      class="com.localllama.plugin.autocomplete.LocalLlamaEditor"
      extensions="txt"/>
  </extension>

  <!-- 🔹 Place LocalLlama View on Left -->
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="com.localllama.plugin.ui.LocalLlamaPerspective">
      <view
        id="com.localllama.plugin.view.LocalLlamaView"
        icon="icons/chat.png"
        relative="org.eclipse.ui.editors"
        relationship="left"
        visible="true"
        ratio="0.25"/>
    </perspectiveExtension>
  </extension>

  <!-- 🔹 First-Time Setup Wizard -->
  <extension point="org.eclipse.ui.startup">
    <startup class="com.localllama.plugin.setup.SetupWizardLauncher"/>
  </extension>

  <!-- 🔹 Preferences Page -->
  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="com.localllama.plugin.preferences"
      name="LocalLlama"
      icon="icons/settings.png"
      class="com.localllama.plugin.preferences.LocalLlamaPreferencePage"/>
  </extension>

  <!-- 🔹 Command Category -->
  <extension point="org.eclipse.ui.commands">
    <category
      id="com.localllama.plugin.category"
      name="LocalLlama Commands"/>
  </extension>

  <!-- 🔹 Setup Wizard Command -->
  <extension point="org.eclipse.ui.commands">
    <command
      id="com.localllama.plugin.setup.command"
      name="Run LocalLlama Setup Wizard"
      categoryId="com.localllama.plugin.category"/>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="com.localllama.plugin.setup.command"
      class="com.localllama.plugin.setup.SetupWizardHandler"/>
  </extension>

  <!-- 🔹 Reopen LocalLlama View Command -->
  <extension point="org.eclipse.ui.commands">
    <command
      id="com.localllama.plugin.command.openChatView"
      name="Open LocalLlama Chat View"
      description="Reopen the LocalLlama Chat View"
      categoryId="com.localllama.plugin.category"/>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="com.localllama.plugin.command.openChatView"
      class="com.localllama.plugin.handlers.OpenChatViewHandler"/>
  </extension>

  <!-- 🔹 Reopen LocalLlama View Command in Help Menu -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:help">
      <command
        commandId="com.localllama.plugin.command.openChatView"
        label="Reopen LocalLlama Chat"
        icon="icons/chat.png"
        style="push"/>
    </menuContribution>
  </extension>

  <!-- 🔹 Java Autocomplete -->
  <extension
         point="org.eclipse.jdt.ui.completionProposalComputers">
      <proposalComputer
            class="com.localllama.plugin.autocomplete.LocalLlamaContentAssistProcessor"
            categoryId="org.eclipse.jdt.ui.javaCompletionProposals">
      </proposalComputer>
   </extension>

  <!-- 🔹 Resource Change Listener -->
  <extension point="org.eclipse.core.resources.listeners">
      <listener
            class="com.localllama.plugin.rag.ResourceChangeListener">
      </listener>
   </extension>
</plugin>
